<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AvFoundation实现二维码扫描.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2FEACE081BC4E22000DF7109</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2FEACE211BC4E22000DF7109</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2FEACE2C1BC4E22000DF7109</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
